version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports: 
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  drink_api:
    container_name: drink_api
    build:
      context: .
      dockerfile: src/Dockerfile
    image: ghcr.io/alepes-8/drink_api:latest # The image name to be used when pushing to GHCR
    ports:
      - "5001:5001"
    environment:
      - port=5001
      - MONGO_URI=mongodb://mongo:27017/drink
    depends_on:
      - mongo
    env_file:
      - ./.env
          
volumes:
  mongo-data: